.title{
    color: #2b2929;
    font-size: 40px;
    line-height: 120%; /* 48/40 */
}
.sub-title{
    color: #ffbc57;
    font-size: 19px;
    line-height: 126.315789%; /* 24/19 */
}
.sub-title:hover{
    color: #d39942;
}
.sub-title::after{
    content: "";
    width: 24px;
    height: 24px;
    display: inline-block;
    line-height: 126.315789%; /* 24/19 */
    background: url("../img/goods/arrow.png");
     vertical-align: middle;
 }