/* Локальне підключення шрифтів */
/* @import url("fonts.css"); */

/* Скидання стилів */
@import url("reset.css");

body {
	background-color: #333;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
}

/* --------------------- */

.page {
	padding: 20px;
}

.block {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.2);
}
.block__item {
	padding: 10px;
	width: 300px;
	height: 300px;
	background-color: #7a956b;
}

/*
За допомогою 2D та 3D трансформації 
ми зможемо зрушувати, повертати, масштабувати 
елементи та робити багато іншого!
Задається трансформація властивістю
transform та її значеннями

transform: функція(ї)-значення властивості;

При вказанні відсоткових значень, 
відсоток вираховується від розмірів самого об'єкту
x - від ширини, y - від висоти

При використанні transform, об'єкт стає ближче (вище)
по осі z. Тобто накриє собою інші об'єкти без влатстивості 
transform та position. Стає на передній план. 
Але керувати об'єктами за допомогою z-index ми не можемо

!!!!! НЕ ПРАЦЮЄ з рядковими об'єктами !!!!!!!!
*/

/*
translate (x, y)
Зміщує елемент на нове місце,
переміщаючи відносно початкового 
положення об'єкта вправо та вниз,
використовуючи координати X та Y. 
Записується так translate (x,y).
*/

.block__item {
	/* transform: translate(-20px, 30px); */
	/* transform: translateX(-20px) translateY(30px); */
	/*
	transform: translateX(20px);
	або
	transform: translateY(30px);
	або
	transform: translateX(-20px) translateY(30px);
	*/

	/*
	position: relative;
	top: 10%;
	left: 10%;
	*/
	/* transform: translate(10%, 10%); */
}

/* Не працює */
span {
	/* transform: translate(100px, 1000px); */
}

/* 
Різниця між 
margin 
position: relative 
transform: translate(x, y) 
*/
.position-dif {
	/* 
	background-color: #77608d;
	padding: 20px;
	max-width: 200px;
	 */

	/* margin-top: -30px; */

	/*
	position: relative;
	top: -20px;
	*/

	/* transform: translate(0px, -20px); */
	/* або
	transform: translateY(-20px);
	*/
}

/*  
Scale (x, y)
Масштабує елементи,
роблячи їх більшими або меншими.
1 - це початковий розмір об'єкту
*/

.block__item {
	/* transform: scale(1); */

	/* Дзеркало */
	/* transform: scale(-1, 1); */

	/* transform: scale(1); */
}
.block:hover .block__item {
	/* transform: scale(1.1); */
}

/*   
Rotate (n + deg)
Повертає елементи.
*/

.block__item {
	/* transform: rotate(45deg); */

	/* transform: rotateX(90deg); */
	/* або */
	/* transform: rotateY(95deg); */
}

/* 
Skew (x + deg, y + deg)
Деформує (нахиляє) елементи.
*/

.block__item {
	/* transform: skew(20deg, 0deg); */

	/* transform: skew(-20deg, 30deg); */
	/* transform: skew(-20deg, 0deg); */
	/* 
	transform: skewX();
	transform: skewY();
	 */
}

/* 
Matrix (a, c, b, d, x, y)
Дозволяє об'єднати кілька 
функцій 2D-трансформацій в одній.
*/
.block__item {
	/* transform: matrix(1, 2, 5, 1, 10, 50); */
}

/* 
Множинні 2D трансформації 
значення розділяються пробілом
*/

.block__item {
	/* transform: translate(20px, 20px) scale(0.5) rotate(-45deg) skew(-30deg); */
}

/*
Transform-origin
Дозволяє змістити центр трансформації,
щодо якого відбувається зміна 
положення/розміру/форми елемента.
transform-origin: 50% 50%;
transform-origin: 50%;
transform-origin: center;
*/

.block__item {
	/*
	transform: rotate(15deg);
	transform-origin:top;
	*/
}

/* 3D */

.block3d {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.2);
}
.block3d__item {
	padding: 10px;
	width: 300px;
	height: 300px;
	background-color: #77608d;
}

/*  
Perspective,
perspective-origin
Встановлення глибини та зміна 
точки початку координат.
!! Задаються батьківському елементу!
perspective-origin: center (за замовченням)
perspective - не можна вказати у відсотках
*/

/* Пояснення перспективи */
/* 
Значення властивості perspective вказує 
відстань від точки вказаної у perspective-origin (за замовченням сентр об'єкту)
до екрану.
І ефект перспективи (нахил, масштаб тощо) має вміститись у цю відстань.
*/

.block3d {
	perspective: 100px;
	perspective-origin: right bottom;
}
.block3d__item {
	transform: rotateX(65deg);
}

/* translate3D 
За аналогією зі своїм 2D братом,
це значення визначає переміщення елемента,
але в 3D-просторі. Крім осі X та Y 
додається вісь Z.
!! вісь Z працює лише з перспективою (perspective)
*/

.block3d__item {
	transform: translate3d(20px, 50px, 90px);
}

.block3d__item {
	transform: scale3D(1, 1, 1);
}

/* rotate3D (x,y,z,n+deg) */
.block3d__item {
	transform: rotate3d(30, 20, 50, 50deg); 
	/* transform: rotateY(10deg); */
	/* transform: rotate3d(50, 50, 200, 50deg); */

}

/* matrix3d */

/* Multi3D */
.block3d__item {
	/* transform: translate3d(20px, 20px, 20px) rotate3d(1, 1, 1, 20deg); */
}

/*
Transform-style
Визначає, як дочірні елементи мають відображатися у 3D-просторі.
!!! Задається батьківському елементу разом з perspective!
transform-style: flat; - за замовченням
*/
.block3d {
	/* transform-style: preserve-3d; */
}
.block3d__item {
	/* transform: rotateX(55deg); */
}

/*
Backface-visibility
Відображення зворотного боку об'єкта.

backface-visibility: visible; за замовченням
*/
.block3d {
}
.block3d__item {
	backface-visibility: hidden;
	transform: rotateY(185deg);
}

/* Flipper */

.card {
}
.card__body {
	position: relative;
	width: 300px;
	perspective: 800px;
}
.card__body img {
	width: 100%;
}
.card__front,
.card__back {
	transition: all 0.5s;
}
.card__front {
	backface-visibility: hidden;
	transform: rotateY(180deg);
}
.card__back {
	transform: rotateY(0deg);
	position: absolute;
	top: 0;
	left: 0;
}
.card__body:hover .card__front {
	transform: rotateY(0deg);
}
.card__body:hover .card__back {
	transform: rotateY(-180deg);
}

.wheel {
	width: 200px;
	height: 200px;
	background-color: #000;
	border-radius: 50%;
	border: 5px dashed grey;
}
