
/* //////////////////////////////////////// ШРИФТИ /////////////////////////////////////////////// */
@import url("fonts.css");



/* //////////////////////////////////////// ОБНУЛЕННЯ /////////////////////////////////////////////// */
@import url("reset.css");



body{
    font-family: Roboto, sans-serif;
    background-color: #f5f5f5;
}
header, footer{
    text-align: center;
}
.title {
  font-size: 50px;
  color: #ff6060;
  text-align: center;
  margin-bottom: 100px;
}
.image img{
  max-width: 100%;
}

/* //////////////////////////////////////// FOLLOW BLOCK /////////////////////////////////////////////// */
.follow{
  margin-bottom: 100px;
}
.follow-container {
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto; 
}
.follow .sub-title {
  font-size: 50px;
  color: #000;
  text-align: center;
  margin-bottom: 60px;
}
.gallery {
  margin: 0 -6px;
  font-size: 0;
}
.gallery-image {
  display: inline-block;
  padding: 0 6px;
  overflow: hidden;
  width: 16.6667%;
}
.gallery-image img{
  max-width: 100%;
}

/* //////////////////////////////////////// FOLLOW BLOCK /////////////////////////////////////////////// */
.hall{
  font-family: 'Proxima Nova Rg';
  color: #2b2929;
}
.hall-container{
  max-width: 1050px;
  padding: 0 10px;
  margin: 0 auto;
}
.hall .sub-title{
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 700;
}
.hall .image{
  text-align: center;
  margin-bottom: 40px;
}

.hall .text{
  line-height: 187.5%; /* 30/16 */
  margin-bottom: 40px;
}
.hall .text p{
  margin-bottom: 10px;
}
.sub-sub-title {
  font-size: 20px;
  line-height: 140%; /* 28/20 */
  margin-bottom: 30px;
  font-weight: 700;
}
.list {
  margin-bottom: 40px;
}
.item {
  line-height: 187.5%; /* 30/16 */
  margin-bottom: 20px;
}


/* //////////////////////////////////////// KROVATO BLOCK /////////////////////////////////////////////// */

.krovato {
  font-family: 'Proxima Nova Rg';
  color: #2b2929;
}
.krovato-container {
  margin: 0 auto;
  max-width: 1270px;
  padding: 0 10px;
}
.krovato .sub-title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 700;
}
.columns {
  margin: 0 -15px;
  font-size: 0;
 
}
.column {
  display: inline-block;
  overflow: hidden;
  padding: 0 15px;
  width: 25%;
  text-align: center;
  vertical-align: top;
}
.krovato .image {
  max-width: 170px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.krovato .sub-sub-title {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 130.769231%; /* 34/26 */
}
.krovato .text {
  font-size: 16px;
  line-height: 187.5%; /* 30/16 */
  font-weight: normal;
}
